<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>贝加美后台主页</title>
    <link rel="stylesheet" href="../../css/lib/layer.css">
    <link rel="stylesheet" href="../../css/swiper-3.3.0.min.css"/>
    <style type="text/css">
    	.layui-header>.layui-layout-left>.bg-color-red{
		background: red;
	}
    </style>
</head>
<body class="layui-layout-body">
<div class="container" id="container" v-cloak>
 
    <router-view></router-view>
   
    <!--<router-view></router-view>-->
</div>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/lib/vue-router.js"></script>
<script src="../../js/lib/vue-infinite-scroll.js"></script>
<script src="../../js/lib/jsencrypt.js"></script>
<script src="../../js/lib/fastclick.js"></script>
<script src="../../js/lib/swiper-3.3.0.min.js"></script>
<script src="../../js/lib/rem.js"></script>
<script src="../../js/index/index.js"></script>

<script type="text/javascript">
    define = null;
    require = null;
</script>
</body>
</html>