<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/head-icon.png">
    <!--<link rel="stylesheet" href="../css/labscare.css">-->
	<meta name="format-detection" content="telephone=no"/>
	<meta name="screen-orientation" content="portrait">
	<title>BeiJiaMei - vue版多页应用架构</title>
	<style>
        body {
            font-size: 12px;
        }
		* {
			padding:0;
			margin:0;
		}
		#container {
			width:600px;
			margin:200px auto 0;
			text-align: center;
            font-size: 14px;
		}
		h3 {
			color: #4fc08d;
			margin:10px 0 5px;
		}
		p {
			color: #666;
			line-height: 1.7;
		}
		#avatar {
			width:270px;
			margin:0 auto;
			height:80px;
			background: url("../../images/CN_logo.png");
			background-size: cover;
			box-shadow: 0 14px 27px 0 rgba(0, 0, 0, 0.1);
		}
	</style>
</head>
<body>
<div id="container">
	<figure id="avatar"></figure>
	<h3>这是一套多页应用的解决方案</h3>
	<p>
		享受es6 + .vue组件化带来的快感吧! <br>
		修改url为 localhost:3000/views/ 进入对应页面<br>
		如: localhost:3000/views/index/index.html
	</p>
    <a href="login/index.html">Alcedo</a>
    <a href="admin/admin.html">管理后台</a>
    <a href="account/account.html">个人中心</a>
    <a href="previewer/previewer.html">文件浏览器</a>    
</div>
</body>
</html>